$colors: (
  neutral: (
    100: #fcfcfd,
    200: #f4f5f6,
    300: #e6e8ec,
    400: #b1b5c3,
    500: #777e90,
    600: #353945,
    700: #23262f,
    800: #141416,
  ),
  primary: (
    500: #2a85ff,
  ),
  secondary: (
    500: #b5e4ca,
  ),
  info: (
    500: #ffd166,
  ),
  alert: (
    500: #eb3b5a,
  ),
  success: (
    500: #78e08f,
  ),
);
