$colors: (
  neutral: (
    100: #fcfcfd,
    200: #f4f5f6,
    300: #e6e8ec,
    400: #b1b5c3,
    500: #777e90,
    600: #353945,
    700: #23262f,
    800: #141416,
  ),
  primary: (
    100: #dfedff,
    200: #9fc8ff,
    300: #60a4ff,
    400: #207fff,
    500: #2a85ff,
  ),
  secondary: (
    100: #e8f6ee,
    200: #b9e5cd,
    300: #8ad4ab,
    400: #5cc38a,
    500: #3ca36a,
  ),
  info: (
    500: #ffd166,
  ),
  alert: (
    500: #eb3b5a,
  ),
  success: (
    500: #78e08f,
  ),
);
