@use "../base/" as *;

%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  @extend %flex-layout;

  .site-title {
    font-size: $font-size-lg;
  }

  .container {
    @extend %flex-layout;
  }
}
